body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form, .guess-list {
  padding-top: 50px;
}

button, .btn-danger {
  margin-left: 5px;
}

.desmos {
  padding-left: 28%;
  padding-top: 20px;
}
